:root {

--f_notosans: "Noto Sans Tamil", "Noto Sans", sans-serif;
--f_opensans: "Open Sans", sans-serif;

--white: #ffffff;
--green: #076534;
--orange:#E6790A;
--lightorange: rgba(230,121,10,0.5);
--lightorange1: rgba(230,121,10,0.26);
--black:#000000;
--black1:rgba(0,0,0,0.27);
--grey:#EAEAEA;
--grey1: #EDEDED;
--grey2: #EFEFEF;
--grey3: #F1F1F1;
--grey4: #F3F3F3;
--grey5: #dbd9d9;
--grey6:#99A8C1;
--grey7:#A6B3C9;
--grey8: rgba(102, 102, 102, 0.35);
--grey9: rgba(102, 102, 102, 0.8);
--grey10: #666666;
--grey11:#E0E2E3;
--darkgrey:#565e64;
--darkgrey1:#1F1F1F;
--darkgrey2:#2F4255;
--lightgrey:#88898a;
--lightgrey1: #E7E9ED;
--lightgrey2: rgba(231, 233, 237, 0.13);
--lightgrey3:#f9f9f9;
--yellow:#FFB21D;
--pink: #fd2d6c;
--red: #cc0707;

--f_sz8: 8px;
--f_sz10: 10px;
--f_sz11: 11px;
--f_sz12: 12px;
--f_sz13: 13px;
--f_sz14: 14px;
--f_sz15: 15px;
--f_sz16: 16px;
--f_sz17: 17px;
--f_sz18: 18px;
--f_sz19: 19px;
--f_sz20: 20px;
--f_sz21: 21px;
--f_sz22: 22px;
--f_sz24: 24px;
--f_sz25: 25px;
--f_sz26: 26px;
--f_sz28: 28px;
--f_sz30: 30px;
--f_sz32: 32px;
--f_sz36: 36px;
--f_sz40: 40px;
--f_sz48: 48px;
--f_sz50: 50px;
--f_sz60: 60px;
--f_sz70: 70px;
--f_sz80: 80px;

}


html, body {
    /* IE 10-11 didn't like using min-height */
    height: 100%;
  }
  .accent-custom {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  }
  footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  }

  /*Font Awesome Fonts*/
@font-face {
    font-family: 'FontAwesome';
    src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css') format('truetype');
}

.f_sz8 { font-size: var(--f_sz8); }
.f_sz10 { font-size: var(--f_sz10); }
.f_sz11 { font-size: var(--f_sz11); }
.f_sz12 { font-size: var(--f_sz12) !important; }
.f_sz13 { font-size: var(--f_sz13); }
.f_sz14 { font-size: var(--f_sz14); }
.f_sz15 { font-size: var(--f_sz15); }
.f_sz16 { font-size: var(--f_sz16) !important; }
.f_sz17 { font-size: var(--f_sz17); }
.f_sz18 { font-size: var(--f_sz18); }
.f_sz19 { font-size: var(--f_sz19); }
.f_sz20 { font-size: var(--f_sz20); }
.f_sz21 { font-size: var(--f_sz21); }
.f_sz22 { font-size: var(--f_sz22); }
.f_sz24 { font-size: var(--f_sz24); }
.f_sz25 { font-size: var(--f_sz25); }
.f_sz26 { font-size: var(--f_sz26); }
.f_sz28 { font-size: var(--f_sz28); }
.f_sz30 { font-size: var(--f_sz30); }
.f_sz32 { font-size: var(--f_sz32); }
.f_sz36 { font-size: var(--f_sz36); }
.f_sz40 { font-size: var(--f_sz40); }
.f_sz48 { font-size: var(--f_sz48); }
.f_sz50 { font-size: var(--f_sz50); }
.f_sz60 { font-size: var(--f_sz60); }
.f_sz70 { font-size: var(--f_sz70); }
.f_sz80 { font-size: var(--f_sz80); }

.f_primary { color: var(--black); }
.f_white { color: var(--white); }
.f_black { color: var(--black); }
.f_green { color:var(--green); }
.f_grey5 { color: var(--grey5); }
.f_grey6 { color: var(--grey6); }
.f_grey7 { color: var(--grey7); }
.f_grey8 { color: var(--grey8); }
.f_grey9 { color: var(--grey9); }
.f_grey10 { color: var(--grey10); }
.f_orange { color: var(--orange); }
.f_yellow { color: var(--yellow); }
.f_darkgrey { color: var(--darkgrey); }
.f_pink { color: var(--pink); }
.f_red { color: var(--red); }

.crsr_pntr { cursor: pointer; }
.txt_underline { text-decoration: underline; } 
.txt_underlinenone { text-decoration: none; } 
.brdr_radius0 { border-radius: 0px; }
.brdr_radius35 { border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.brdr_radius10 { border-radius: 10px !important; -moz-border-radius: 10px !important; -webkit-border-radius: 10px !important; }

.w-115 { width: 115px; }
.w-150 { width: 150px; }
.w-215 { width: 215px; }

.zindex0 { z-index: 0; }
.zindex1 { z-index: 1; }
.zindex2 { z-index: 2; }

.lnhgt15 { line-height: 15px; }
.lnhgt18 { line-height: 18px; }
.lnhgt20 { line-height: 20px; }
.lnhgt25 { line-height: 25px; }
.lnhgt30 { line-height: 30px; }
.lnhgt32 { line-height: 32px; }
.lnhgt35 { line-height: 35px; }
.lnhgt45 { line-height: 45px; }

.brdr_btm { border-bottom: 1px solid var(--grey); }
.brdr_btm_transparent { border-bottom: 1px solid transparent !important; }

.accent-custom  { font-size:var(--f_sz14); color:var(--black) !important;  font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; line-height: 24px;  }


.accent-custom .f_olight { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif;  font-optical-sizing: auto; font-weight: 300; font-style: normal; }
.accent-custom .f_olightitalic { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 300; font-style: italic; }
.accent-custom .f_oregular { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; }
.accent-custom .f_oregularitalic { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: italic; }
.accent-custom .f_omedium { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 500; font-style: normal; }
.accent-custom .f_omediumitalic { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 500; font-style: italic; }
.accent-custom .f_osemibold { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif;  font-optical-sizing: auto; font-weight: 600; font-style: normal; }
.accent-custom .f_osemibolditalic { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif;  font-optical-sizing: auto; font-weight: 600; font-style: italic; }
.accent-custom .f_obold { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 700; font-style: normal; }
.accent-custom .f_obolditalic { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 700; font-style: italic; }
.accent-custom .f_oextrabold { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 800; font-style: normal; }
.accent-custom .f_oextrabolditalic { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-optical-sizing: auto; font-weight: 800; font-style: italic; }


.accent-custom .f_notosansthin { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 100; font-style: normal; }
.accent-custom .f_notosansextralight { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 200; font-style: normal; }
.accent-custom .f_notosanslight { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 300; font-style: normal; }
.accent-custom .f_notosansregular { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 400; font-style: normal; }
.accent-custom .f_notosansmedium { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 500; font-style: normal; }
.accent-custom .f_notosanssemibold { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 600; font-style: normal; }
.accent-custom .f_notosansbold { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 700; font-style: normal; }
.accent-custom .f_notosansextrabold { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 800; font-style: normal; }
.accent-custom .f_notosansblack { font-family: "Noto Sans Tamil", sans-serif; font-optical-sizing: auto; font-weight: 900; font-style: normal; }

.accent-custom .f_medium {  font-weight: 500; }
.accent-custom .f_semibold {  font-weight: 600; }
.accent-custom .f_bold {  font-weight: 700; }
.accent-custom .f_extrabold {  font-weight: 800; }


.accent-custom h1, .accent-custom h2, .accent-custom h3, .accent-custom h4, .accent-custom h5, .accent-custom h6 { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; font-weight: 700; }

.accent-custom p { font-family: 'Noto Sans Tamil', 'Noto Sans', sans-serif; color: var(--black); }

.accent-custom .link { color: var(--orange); }
.accent-custom .link:hover { color: var(--orange); text-decoration: underline; }

.accent-custom .tp-login-input input, .accent-custom .tp-contact-input input { height: 48px; }

.accent-custom .form-select { border-radius: 0; font-size: var(--f_sz14); }

.accent-custom input[type=text], .accent-custom input[type=email], .accent-custom input[type=tel], .accent-custom input[type=number], .accent-custom input[type=password], .accent-custom input[type=url], .accent-custom textarea { height: 40px; line-height: 40px; }


.accent-custom .tp-btn-primary  { background-color: var(--lightorange) !important; color: var(--green); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.accent-custom .tp-btn-primary:hover  { background-color: var(--lightorange) !important; color: var(--green) !important; }

.accent-custom .tp-btn-secondary  { background-color: var(--darkgrey) !important; color: var(--white); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.accent-custom .tp-btn-secondary:hover  { background-color: var(--lightgrey) !important; color: var(--white) !important; }


.accent-custom .tp-btn-danger  { background-color: var(--red) !important; color: var(--white); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.accent-custom .tp-btn-danger:hover  { background-color: var(--red) !important; color: var(--white) !important; }


.accent-custom .tp-btn-outline-primary  {     display: inline-block; padding: 5px 20px; background-color: var(--white) !important; border: 1px solid var(--primary); color: var(--primary); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; font-weight: 500; font-size: var(--f_sz14); }
.accent-custom .tp-btn-outline-primary:hover  { background-color: var(--white) !important; color: var(--primary) !important; }

.accent-custom .tp-product-details-buy-now-btn, .accent-custom .tp-product-details-review-btn { background-color: var(--green) !important; color: var(--white); }

/*
 *  SCROLLBAR STYLE 
 */

 .scrollbar_style::-webkit-scrollbar-track
 {
     /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
     /*background-color: #F5F5F5;*/
   background-color:transparent;
   border-radius: 10px;
 }
 
 .scrollbar_style:hover::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     /*background-color: #F5F5F5;*/
   background-color:#F5F5F5;
   border-radius: 10px;
   
 }
 
 .scrollbar_style::-webkit-scrollbar
 {
     width: 8px;
     /*background-color: #F5F5F5;*/
   background-color:transparent;
   border-radius: 10px;
 }
 
 .scrollbar_style:hover::-webkit-scrollbar
 {
     width: 8px;
     background-color: #F5F5F5;
     border-radius: 10px;
 }
 
 .scrollbar_style::-webkit-scrollbar-thumb
 {
     /*background-color: #c6c6c6;*/
   background-color:transparent;
     border: 2px solid transparent;
     border-radius: 10px;
 }
 
 .scrollbar_style:hover::-webkit-scrollbar-thumb
 {
     background-color: #c6c6c6;
     border: 2px solid #c6c6c6;
     border-radius: 10px;
 }

 /*************************************/

.scrollbar_style1::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
*/
background-color:transparent;
}

.scrollbar_style1:hover::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar_style1::-webkit-scrollbar
{
	height: 8px;
	/*background-color: #F5F5F5;*/
  background-color:transparent;
}

.scrollbar_style1::-webkit-scrollbar
{
	height: 8px;
	background-color: #F5F5F5;
}

.scrollbar_style1::-webkit-scrollbar-thumb
{
	background-color:transparent;
	border: 2px solid transparent;;
}

.scrollbar_style1:hover::-webkit-scrollbar-thumb
{
	background-color: #c6c6c6;
	border: 2px solid #c6c6c6;
}

/*
 *  SCROLLBAR STYLE 
 */

.accent-custom .tp-header-main, .accent-custom .tp-header-sticky-area { background:var(--grey4); padding-top: 5px; padding-bottom: 5px; }

.accent-custom .tp-header-bottom { background-color: var(--grey4); }
.accent-custom .tp-header-top-border { border-top:1px solid var(--grey5); }

.accent-custom .tp-header-login-icon span { border: 0; }
.accent-custom .tp-header-login-icon img { width: 40px; height: 40px; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid var(--grey5); object-fit: cover; }
.accent-custom .tp-header-login-icon .login_nameinitial { width: 40px; height: 40px; line-height: 40px; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid var(--grey5); font-size: var(--f_sz20); background-color: var(--grey6); color: var(--white); }
.accent-custom .tp-header-login-title { font-size: var(--f_sz13); }

.accent-custom .header_search_wrapper .dropdown-menu { padding: 3px 0; max-height: 350px; overflow-y: auto; }
.accent-custom .header_search_wrapper .dropdown-item { font-size: var(--f_sz13); padding: 0 5px; }
.accent-custom .header_search_wrapper .input-group .btn { font-size: var(--f_sz13); }
.accent-custom .tp-header-search-2 input:focus { border-color: var(--primary); }
/* .accent-custom .header_search_seltxt  {  position: relative; top: 2px; } */

.accent-custom .language_drpdwn  .dropdown-item { font-size: var(--f_sz13); padding: 0 5px; }
.accent-custom .tp-header-action-badge { top: -12px; right: -15px;}


.accent-custom .mobile_profileimg { width: 30px; height: 30px; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid var(--grey7); object-fit: cover;  }
.accent-custom .mobilelogin_nameinitial { width: 30px; height: 30px; display: inline-block; line-height: 30px; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid var(--grey5); font-size: var(--f_sz16); background-color: var(--green); color: var(--white); margin-top: 0; }
.accent-custom .tp-mobile-item-btn { font-size: var(--f_sz24); }
.accent-custom .mobile_profile_menu { position: relative; top:-3px; }

.accent-custom .main-menu > nav > ul > li > a:hover, .accent-custom .main-menu > nav > ul > li > a.active { color: var(--blue) !important; font-weight: 600; text-decoration: underline; }
.accent-custom .header-sticky-2 .main-menu > nav > ul > li > a {  color: var(--green); font-weight: 600;  }
.accent-custom .header-sticky-2 .main-menu > nav > ul > li > a:hover, .accent-custom .header-sticky-2 .main-menu > nav > ul > li > a.active { color: var(--blue) !important; text-decoration: underline; font-weight: 600; }
.accent-custom .main-menu > nav > ul > li .tp-mega-menu.mega-menu-style-2 { text-align: left; }
.accent-custom .main-menu > nav > ul > li .tp-mega-menu li .mega-menu-title { font-weight: 700; }
.accent-custom .main-menu > nav > ul > li > .tp-submenu li { text-align: left; }
.accent-custom .main-menu > nav > ul > li > .tp-submenu li:hover > a { color: var(--green); }
.accent-custom .main-menu.menu-style-1 > nav > ul > li:hover > a {  color: var(--black); }
.accent-custom .tp-main-menu-mobile ul li.has-dropdown > a.expanded { color: var(--green); }

.accent-custom .tp-main-menu-mobile ul li.has-dropdown > a.expanded .dropdown-toggle-btn.dropdown-opened { background-color: var(--white); border-color: var(--green); color: var(--green); }
.accent-custom .tp-main-menu-mobile ul li.has-dropdown > a.expanded .dropdown-toggle-btn.dropdown-opened i { color: var(--green); }

.accent-custom .main-menu > nav > ul > li.has-dropdown > a::after { font-family: "FontAwesome"; content: "\f0d7"; color: var(--black); }

.accent-custom .headerlogo { margin-right: 35px; }
.accent-custom .headerlogo img { max-width: 100%; max-height: 40px; }

.accent-custom .main-menu.menu-style-2 > nav > ul > li > a { font-weight: 600; }

.accent-custom .main-menu.menu-style-1 > nav > ul > li > a { color: var(--black); font-family: var(--f_notosans); font-size: var(--f_sz14);  }
.accent-custom .main-menu.menu-style-1 > nav > ul > li > a:hover { color: var(--green) !important; text-decoration: underline; }

.accent-custom .offcanvas__area { background-color: var(--white); }
.accent-custom .offcanvas-close-btn i { top:2px; position: relative; }
.accent-custom .offcanvas__close-btn:hover { background-color: var(--white); border-color: transparent;  color: var(--primary); }


.accent-custom .tp-main-menu-mobile ul li > a { color: var(--primary); font-weight: 600; }
.accent-custom .tp-main-menu-mobile ul li:hover > a, .accent-custom .tp-main-menu-mobile ul li > a.active { text-decoration: underline; color: var(--blue); }

.accent-custom .header_left_wrapper { display: flex; flex-flow:row wrap; }
.accent-custom .header_deliveryloc { display: flex; align-items: center; line-height: 16px;  }

.accent-custom .swiper-wrapper .tp-slider-item { background-color: var(--cream); }

.accent-custom .tp-header-action-btn:hover { color: var(--green); }

.accent-custom .tp-slider-title, .accent-custom .tp-slider-content > span, .accent-custom .tp-banner-content span { font-family: var(--f_notosans);   }
.accent-custom .tp-slider-item.is-light .tp-slider-title, .accent-custom .tp-slider-item.is-light .tp-slider-content > span, .accent-custom .tp-slider-item.is-light .tp-slider-content p { color:var(--black); }
.accent-custom .tp-slider-content p { font-family: var(--f_notosans);  }

.accent-custom .tp-pagination ul li a, .accent-custom .tp-pagination ul li button, .accent-custom .tp-pagination ul li span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid rgba(1, 15, 28, 0.1);
    font-size:var(--f_sz16);
    font-weight: 500;
    color: var(--tp-text-body);
}

.accent-custom .tp-pagination ul li a:hover, .accent-custom .tp-pagination ul li a.current, .accent-custom .tp-pagination ul li span:hover, .accent-custom .tp-pagination ul li span.current, .accent-custom .tp-pagination ul li button:hover, .accent-custom .tp-pagination ul li button.current { background: var(--primary);  border-color: var(--primary); color: var(--white); }


.accent-custom .tp-section-title { color: var(--black); }


.accent-custom .tp-product-thumb.tp_advertisers { width: 100%; height: 150px; display: flex; align-items: center; justify-content: center; text-align: center; }
.accent-custom .tp-product-thumb.tp_advertisers img { max-height: 100px; max-width: 100%;  }

.accent-custom .tp-product-title { font-size:var(--f_sz18); height: 40px;-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }

.accent-custom .tp-product-tag { font-size:var(--f_sz16); /*height: 70px;*/-webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }

.accent-custom .tp-slider-btn .tp-btn:hover { background-color: var(--lightprimary); }

.accent-custom .tp-product-list-add-to-cart-btn { background-color: var(--green); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; cursor: pointer; }
.accent-custom .tp-product-list-add-to-cart-btn:hover, .accent-custom .tp-product-list-add-to-cart-btn:focus {  background-color: var(--green);  color: var(--tp-common-white);  }

.accent-custom .tp-product-details-review-btn { background-color: var(--cream);  color: var(--tp-common-white); padding: 9px 25px;  }
.accent-custom .tp-product-details-review-btn:hover { background-color: var(--cream1);  color: var(--tp-common-white);  }

.accent-custom .tp-btn { font-family: var(--f_notosans); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }

.accent-custom .tp-product-title a:hover { color: var(--primary); }

.accent-custom .tp-product_advertisers-thumb { width: 50%; height: 200px; display: flex; align-items: center; justify-content: center; text-align: center;  border: 1px solid var(--tp-border-primary); }

.accent-custom .tp-product_advertisers-thumb img { max-width: 80%; max-height: 100px; width: auto; height: auto;  }

.accent-custom .tp-footer-area { border-top: 1px solid var(--tp-border-primary); background-color: var(--darkgrey2);}
.accent-custom .tp-footer-logo img { max-height: 40px; }

.accent-custom .tp-footer-style-2 .tp-footer-desc, .accent-custom .tp-footer-style-2 .tp-footer-widget-title, .accent-custom .tp-footer-style-2 .tp-footer-widget ul li a, .accent-custom .tp-footer-style-2 .tp-footer-talk span, .accent-custom .tp-footer-style-2 .tp-footer-contact-content p, .accent-custom .tp-footer-style-2 .tp-footer-copyright p { font-family: var(--f_notosans); color: var(--white); }

.accent-custom .tp-footer-style-2 .tp-footer-talk h4 { font-family: var(--f_notosans); font-weight: 600; } 
.accent-custom .tp-footer-style-2.tp-footer-style-primary .tp-footer-talk h4 a:hover { color: var(--primary);  }

.accent-custom .tp-footer-style-2.tp-footer-style-6 .tp-footer-social i { top:2px; position: relative; }
.accent-custom .tp-footer-style-2.tp-footer-style-6 .tp-footer-social a:hover { background-color: var(--lightprimary); color: var(--white); }

.accent-custom .tp-footer-style-2.tp-footer-style-primary .tp-footer-widget ul li a:hover { color: var(--primary); }

.accent-custom .tp-footer-style-2.tp-footer-style-primary .tp-footer-contact-content p a { color: var(--black); }
.accent-custom .tp-footer-style-2.tp-footer-style-primary .tp-footer-contact-content p a:hover { color: var(--darkgrey);  }

.accent-custom .tp-footer-style-2.tp-footer-style-6 .tp-footer-social a { background-color: var(--green); color:var(--white); border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
    margin: 5px; }

.accent-custom .tp-footer-style-2.tp-footer-style-primary .tp-footer-bottom-wrapper { border-color:var(--lightgrey2); }
.accent-custom .tp-footer-style-2 .tp-footer-widget ul li a { color: var(--white); }
.accent-custom .tp-footer-style-2 .tp-footer-widget ul li a.active { color: var(--white); text-decoration: underline; }
.accent-custom .tp-footer-style-2 .tp-footer-widget ul li a:hover { color: var(--white) !important; text-decoration: underline; }
.accent-custom .tp-footer-style-2 .tp-footer-widget ul li a::after { display: none; }

.accent-custom .tp-footer-widget-title, .accent-custom .tp-footer-talk span { color: var(--white); }
.accent-custom .tp-footer-contact-icon span { color: var(--orange); }
.accent-custom .tp-footer-copyright p { color: var(--white); }
.accent-custom .tp-footer-style-2.tp-footer-style-primary .tp-footer-copyright p a { color: var(--white); text-decoration: underline; }

.accent-custom .tp-subscribe-input input { font-family: var(--f_notosans); }

.accent-custom .membership_banner img { max-width: 100%; max-height: 250px; }
.accent-custom .tp-banner-title { font-size:var(--f_sz50); font-weight: 800; }

.accent-custom .tp-shop-widget-brand-list {
    height: 288px;
    overflow-y: scroll;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: thin;
    padding-right: 10px;
}
.accent-custom .tp-shop-widget-brand-item img { max-width: 80px; max-height: 50px; }

.accent-custom .tp-shop-widget-categories { height: 288px;
    overflow-y: scroll;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    scrollbar-width: thin;
    padding-right: 10px; }


.accent-custom .tp_categories .tp-shop-widget-checkbox .tp-shop-widget-brand-item { width: 100%; margin-bottom: 0; }
.accent-custom .tp-shop-widget-checkbox ul li label { color: var(--black); }

.accent-custom .tp-shop-widget-categories ul li a:hover {
    color: var(--primary);
}

.accent-custom .tp-shop-widget-categories ul li a:hover span {
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--white);
}


.accent-custom .tp-shop-widget-categories ul li a:hover::after {
    background-color: var(--orange);
}

.accent-custom .tp-shop-widget-checkbox-circle-list ul li:hover .tp-shop-widget-checkbox-circle-number {
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--white);
}

.accent-custom .tp_popularbrands .tp-shop-widget-checkbox ul li { width: 50%; }

.accent-custom .tp-shop-widget-checkbox ul li input:checked ~ label::after {
    background-color: var(--green);
    border-color: var(--green);
}

.accent-custom .tp-checkout-payment-item label::before {     background-color: var(--green); }
.accent-custom .tp-checkout-payment-item input:checked ~ label::after {
    border-color: var(--green);
}

.accent-custom .tp_products_grid .tp-product-thumb-2 { width: 100%; height: 300px; display: flex; align-items: center; justify-content: center;  text-align: center; border: 1px solid var(--tp-border-primary); }
.accent-custom .tp_products_grid .tp-product-thumb-2 img { max-width: 90%; max-height: 300px; }


.accent-custom .tp_products_list .tp-product-list-item .tp-product-list-thumb1 { width: 450px; display: flex; align-items: center; justify-content: center; text-align: center;  border: 1px solid var(--tp-border-primary); }

.accent-custom .tp_products_list .tp-product-list-item .tp-product-list-thumb1 img { max-width: 90%; max-height: 300px; width: auto; height: auto;  }

.accent-custom .tp-shop-widget-checkbox ul li label::before { content: url(../img/product/icons/check.svg); top: 7px; }

.accent-custom .brand_dtls_logo { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; }
.accent-custom .brand_dtls_logo img { max-width: 90%; max-height: 90%;}

.accent-custom .tp-shop-top-tab .nav-tabs .nav-item .nav-link i { top:3px; position: relative; }

.accent-custom .tp-product-details-social i { top:2px; position: relative; }

.accent-custom .tp-product-details-social a:hover {  background-color: var(--white); border-color: var(--orange); color: var(--orange); }

.accent-custom .tp-product-details-query-item i { color: var(--cream); }

.accent-custom .tp-product-details-desc-content ul { margin-left: 15px; }

.accent-custom .tp-product-title-2 { height: 70px; -webkit-line-clamp: 3; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;  }

.accent-custom .tp-product-content-2 p { height: 100px; -webkit-line-clamp: 4; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }

.accent-custom .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  border: none !important;
  }
  
  .accent-custom .videoWrapper audio,
  .accent-custom .videoWrapper iframe,
  .accent-custom .videoWrapper object,
  .accent-custom .videoWrapper video,
  .accent-custom .videoWrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

  .accent-custom .videoWrapper.audio { 
    position: relative;
    padding-bottom: 20%; /* 16:9 */
    padding-top: 0;
    height: 0;
    border: none !important;
    }

.accent-custom .sponsor_banner { width: 100%; }   

.accent-custom .sponsor_banner img { max-width: 100%; }

.accent-custom .tp-shop-item-primary .tp-product-tag-2 a:hover, .accent-custom .tp-shop-item-primary .tp-product-title-2 a:hover { color: var(--lightprimary); }

.accent-custom .tp-login-top p a { color: var(--primary); text-decoration: underline; }
.accent-custom .tp-login-wrapper { border: 1px solid var(--grey); padding: 20px 60px 20px; }
.accent-custom .tp-login-wrapper.forgotpwd_wrapper { padding: 60px 60px 60px !important; }

.accent-custom .tp-login-btn { background-color: var(--blue); color: var(--tp-common-white); border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.accent-custom .tp-login-btn:hover { background-color: var(--lightblue); color: var(--tp-common-white); }

.accent-custom .tp-login-remeber a { text-decoration: underline; }

.accent-custom .tp-header-login-content span { color: var(--black); font-family: var(--tp-ff-josefinsans); }

.accent-custom .tp-header-login-icon i { font-size: var(--f_sz20); position: relative; top:2px; }

.accent-custom .tp-slider-area { background-color: var(--primary); }
.accent-custom .tp-slider-title  { color: var(--white); }
.accent-custom .tp-slider-thumb img { max-height: 450px; max-width: 100%; margin-top: 0; }

.accent-custom .tp-product-item .tp-product-content { padding: 15px; }
.accent-custom .tp-product-item .tp-product-content p { height: 50px; -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }
.accent-custom .tp-contact-wrapper { margin-right: 0px; }
.accent-custom .tp-contact-input textarea { height: 100px; }

/*.accent-custom .s_profileupld { position: absolute; right: 0px; top: 40px; }*/
.accent-custom .s_profileupld .btn-bs-file { padding: 5px 15px; display: inline-block; }
.accent-custom .s_profileupld i { font-size: 20px; }


/***************File Upload***************/
.accent-custom .btn-bs-file{
  position:relative;
cursor:pointer;
}
.accent-custom .btn-bs-file input[type="file"]{
  position: absolute;
  top: -9999999;
  filter: alpha(opacity=0); 
  opacity: 0;
  width:0;
  height:0;
  outline: none;
  cursor: inherit;
}

/***************File Upload***************/

.accent-custom .tp_community_action { position: absolute; top:10px; right: 10px; z-index: 1; }

.accent-custom .community_imgwrapper { position: relative; }
.accent-custom .community_icon { width: 150px; height: 150px; display: flex; justify-content:center; align-items: center; border: 1px solid var(--grey);  }
.accent-custom .community_icon img { max-width: 100px; max-height: 100px; }
.accent-custom .community_delicon { position: absolute; top:-10px; right: -10px; }
.accent-custom .community_delicon i { font-size: var(--f_sz26); }

.accent-custom .community_banner { width: 100%; height: 150px; display: flex; justify-content:center; align-items: center; border: 1px solid var(--grey); padding: 10px;  }
.accent-custom .community_banner img { max-width: 100%; max-height: 150px; }

.accent-custom .search_suggestion_div { position: absolute; top:55px;  width: 100%; display: flex; flex-flow: row wrap;  background-color: var(--white); border-radius: .375rem; -moz-border-radius: .375rem; -webkit-border-radius: .375rem; border:1px solid var(--grey11); padding: 15px; }

.accent-custom .search_suggest_list { width: 100%; display: flex; flex-flow:row wrap; max-height: 190px; overflow-y: auto; }
.accent-custom .search_suggest_item { width: 100%; display: flex; flex-flow:row wrap; font-size: 16px; padding: 5px; }
.accent-custom .search_suggest_item:hover { background-color: #f5f5f5; }

.accent-custom .tp-contact-btn { padding: 9px 45px; }
.accent-custom .tp-contact-btn:hover, .accent-custom .tp-contact-btn:focus { color: var(--white); background-color: var(--lightblue); }
.accent-custom .community_categories { width: 100%; display: flex; flex-flow: row wrap; }
.accent-custom .community_categories .commu_catgry { padding: 5px 10px; background-color: var(--primary); color: var(--white); display: inline-flex; justify-content: center; align-items: center; }
.accent-custom .community_categories .commu_catgry i { font-size: var(--f_sz18); }

.accent-custom .communitydtls_banner { width: 100%; display: flex; flex-flow: row wrap; background-color: var(--primary); }
.accent-custom .communitydtls_banner img { max-width: 100%; max-height: 100px; }

.accent-custom .communitydtls_iconwrapper { position: relative; width: 100%; display: inline-flex; flex-flow: row wrap; align-items: center; }
.accent-custom .communitydtls_icon { width: 120px; height: 120px; display: flex; justify-content:center; align-items: center; border: 1px solid var(--grey); background-color: var(--white); margin-right: 15px;  }
.accent-custom .communitydtls_icon img { max-width: 80px; max-height: 80px; }
.accent-custom .communitydtls_title { font-size: var(--f_sz32); font-weight: 600; }


.accent-custom .tp-sidebar-about { padding: 20px 20px 15px; }
.accent-custom .tp-sidebar-about-title { font-size: var(--f_sz16); }

.accent-custom .tp-postbox-details-comment-thumb img { width: 40px; height: 40px; }

.accent-custom .tp-postbox-details-comment-avater-title { font-size: var(--f_sz16); }

.accent-custom .tp-postbox-details-comment-reply a { border: 0; color: var(--tp-text-body) !important; }
.accent-custom .tp-postbox-details-comment-reply a:hover { background-color:transparent; color: var(--primary); }
.accent-custom .tp_replybox { width: 100%; display: flex; flex-flow:row wrap; }

.accent-custom .tp-postbox-details-comment-box { margin-bottom: 20px; }
.accent-custom .tp_postbox_replies { margin-left: 60px; margin-bottom: 25px; cursor: pointer; text-decoration: underline; color: var(--blue); }
.accent-custom .seemore { width: 100%; display: flex; flex-flow:row wrap; justify-content: center; margin-top: 10px; cursor: pointer; color: var(--primary); }

.accent-custom .tp-sidebar-widget ul li a:hover { color: var(--blue); }

.accent-custom .popularcommunity_iconwrapper { position: relative; width: 100%; display: inline-flex; flex-flow: row wrap; align-items: center; }
.accent-custom .popularcommunity_icon { width: 50px; height: 50px; display: flex; justify-content:center; align-items: center; border: 1px solid var(--grey); background-color: var(--white); margin-right: 15px;  }
.accent-custom .popularcommunity_icon img { max-width: 40px; max-height: 40px; }
.accent-custom .popularcommunity_title { width: 75%; font-size: var(--f_sz16); font-weight: 600; color: var(--black); }


.accent-custom .popular_communities_widget ul li a::after { display: none; }
.accent-custom .popular_communities_widget ul li a span { float: left; color: var(--blue);}

.accent-custom .cpostcommunity_iconwrapper { position: relative; display: inline-flex; flex-flow: row wrap; align-items: center; background-color: var(--grey1); padding: 5px 10px; }
.accent-custom .cpostcommunity_icon { width: 40px; height: 40px; display: flex; justify-content:center; align-items: center; border: 1px solid var(--grey); background-color: var(--white); margin-right: 10px;  }
.accent-custom .cpostcommunity_icon img { max-width: 30px; max-height: 30px; }
.accent-custom .cpostcommunity_title { width:200px; font-size: var(--f_sz14); font-weight: 600; color: var(--black); margin-right: 10px; }
.accent-custom .cpostcommunity_drpdwn { margin-right: 5px; }

.accent-custom .cpostcommunity_list { max-width:300px; position: absolute; top: 48px; left: 0; border: 1px solid var(--grey); background-color: var(--white); padding: 15px; max-height: 400px; overflow-y: auto; overscroll-behavior-y: contain; scrollbar-width: thin; z-index: 2; }
.accent-custom .cpostcommunity_iconwrapper1 { position: relative; display: inline-flex; flex-flow: row wrap; align-items: center; margin-bottom: 10px;  }

.accent-custom .cpostaddimg_imgwrapper { position: relative; margin: 20px; }
.accent-custom .cpostaddimg_icon { width: 250px; height: 250px; display: flex; justify-content:center; align-items: center; border: 1px solid var(--grey);  }
.accent-custom .cpostaddimg_icon img { max-width: 200px; max-height: 200px; }
.accent-custom .cpostaddimg_delicon { position: absolute; top:-10px; right: 0px; background-color: var(--white); border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width:20px; height: 20px; }
.accent-custom .cpostaddimg_delicon i { font-size: var(--f_sz26); }

.accent-custom .cpostaddvideo_wrapper { position: relative; margin-right: 20px; }

.accent-custom .tp-contact-input-wrapper label { font-weight: 600; }

.accent-custom .breadcrumb__title { font-size: var(--f_sz32); }
.accent-custom .breadcrumb__list span { font-size: var(--f_sz14); }

.accent-custom .onboard_signupbonus { width: 100%; display: flex; flex-flow: row wrap; justify-content: center;  }
.accent-custom .verify_success_header { width: 100%; padding: 30px; background-color: var(--lightgreen); color: var(--green); }
.accent-custom .verify_success_footer { width: 100%; padding: 50px 50px; position: absolute; z-index: 1; }


.accent-custom .otp-field {
    display: flex;
    justify-content: center;
}

.accent-custom .otp-field input {
    width: 50px;
    padding: 10px;
    text-align: center;
    margin: 2px;
    color:var(--black);
    outline: none;
    transition: all 0.1s;
}

.accent-custom .otp-field input:focus {
    box-shadow: 0 0 2px 2px var(--grey5);
}

.accent-custom .dash_walletmem_wrapper, .accent-custom .walletdtls_wrapper { width: 100%; display: flex; flex-flow: row wrap;  background: #003E8E;
background: linear-gradient(90deg, rgba(0, 62, 142, 1) 0%, rgba(26, 134, 180, 1) 50%);   border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; padding: 25px; color:var(--white); }

.accent-custom .modalcontent_wrapper { width: 100%; display: flex; flex-flow: row wrap; }
.accent-custom .modalcontent_wrapper ul, .accent-custom .modalcontent_wrapper ol { margin-left: 25px; }

.accent-custom .wallet_addrcpy { position: absolute; top:-10px; right: -15px; }

.accent-custom .active>.page-link, .accent-custom .page-link.active { background-color: var(--primary); border-color: var(--primary); }

.accent-custom .sso_types { width: 115px;  display: flex; flex-flow:row wrap; justify-content: center; margin-bottom: 15px; }
.accent-custom .sso_icon { width: 40px; height: 40px; display: flex; flex-flow:row wrap; border: 1px solid var(--grey5); justify-content: center; padding: 10px; border-radius: 50%; }
.accent-custom .sso_icon img { max-width: 100%; height: auto; }


.accent-custom .sso_types1 { width: 100%;  display: flex; flex-flow:row wrap; align-items: center; border: 1px solid var(--grey5); justify-content: center; margin-bottom: 15px; border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.accent-custom .sso_icon1 { width: 40px; height: 40px; display: flex; flex-flow:row wrap;  justify-content: center; padding: 10px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }
.accent-custom .sso_icon1 img { max-width: 100%; height: auto; }

.accent-custom .plan_benefits_title { display:flex; flex-flow:row wrap; align-items: center; height: 130px; }
.accent-custom .plan_benefitsitems p i { font-size: var(--f_sz18); margin: 5px; position: relative; top:2px;  }
.accent-custom .tp-product-item .tp-product-content .plan_benefitsitems p { height: auto; align-items: flex-start; display: inline-flex; } 

.accent-custom .tp-product-tab .nav-tabs { padding: 0px; border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px; }
.accent-custom .tp-product-tab .nav-tabs .nav-item .nav-link { padding: 8px 45px; text-align: center; font-size: var(--f_sz18); }
.accent-custom .tp-product-tab .nav-tabs .nav-item:not(:last-child) { margin-right: 0; }
.accent-custom .tp-product-tab .nav-tabs .nav-item .nav-link.active { color: var(--black); background-color: var(--white); border-bottom: 2px solid var(--green); }

.accent-custom .member_price .tp-product-price-2.new-price { font-size: var(--f_sz24); font-weight: 700;  }
.accent-custom .member_price .tp-product-price-2.old-price { font-size: var(--f_sz20);  }

.accent-custom .tp-checkout-option label::before { font-family: "FontAwesome"; content: "\f00c"; top:6px; }
.accent-custom .tp-checkout-option input:checked ~ label::after { background-color: var(--green); }

.accent-custom .plandtls_wrapper { width: 100%; display: flex; flex-flow:row wrap; border-top:4px solid var(--blue); border-right:1px solid var(--grey5); border-bottom:1px solid var(--grey5); border-left:1px solid var(--grey5); padding: 25px; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; }

.accent-custom .member_pricing_checkout { margin-bottom: 10px; padding-bottom: 10px; }
.accent-custom .premium_icon { width: 35px; }

.accent-custom .profile_img { max-width:60px; }
.accent-custom .profile__main-thumb img { border: 1px solid var(--grey5); object-fit: cover; }
.accent-custom .profile__main-thumb .profile_nameinitial { width: 80px; height: 80px; display: inline-flex; align-items: center; justify-content: center; margin-right: 16px; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid var(--grey5); font-size: var(--f_sz30); background-color: var(--grey6); color: var(--white); }

.accent-custom .profile__main-thumb.change_profile__main-thumb img { width: 120px; height: 120px; border-radius: 50%; margin-right: 16px; } 
.accent-custom .profile__main-thumb.change_profile__main-thumb .profile_nameinitial { width: 120px; height: 120px;  display: inline-flex; align-items: center; justify-content: center; margin-right: 16px; border-radius: 50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid var(--grey5); font-size: var(--f_sz40); background-color: var(--grey6); color: var(--white); }


.accent-custom .profile__main-thumb-edit label { width: 40px; height: 40px; display: inline-flex; justify-content: center;  align-items: center; background-color: var(--black); }

.accent-custom .tp-login-input-box.profile_input_box { margin-bottom: 15px; }

.accent-custom .walletmember_img { max-width:60px; }
.accent-custom .tp-search-input input { height: 46px; }

.accent-custom .imageswrapper { width: 100%; display: flex; flex-flow: row wrap; justify-content: center; padding: 5px; }
.accent-custom .imageswrapper .carousel .carousel-item { text-align: center; }
.accent-custom .imageswrapper .carousel .carousel-item img { max-width: 100%; max-height: 100%; }
/* .accent-custom .imageswrapper .carousel-control-prev-icon,  .accent-custom .carousel-control-next-icon { background-image: none; } */
.accent-custom .imageswrapper .carousel-control-prev-icon i,  .accent-custom .carousel-control-next-icon i { font-size: var(--f_sz36); color: var(--black); }
.accent-custom .imageswrapper .carousel-indicators { bottom:-55px; }
.accent-custom .imageswrapper .carousel-indicators [data-bs-target] { background-color: var(--black); }

.accent-custom .search_suggestion, .accent-custom .commusearch_suggestion { width: 100%; background-color: var(--white); position: absolute; top:46px; z-index: 2; border: 1px solid var(--grey2); padding: 15px; max-height: 300px; overflow-y: auto;  padding: 10px; }

.accent-custom .search_suggestion ul li, .accent-custom .commusearch_suggestion ul li { list-style: none; cursor: pointer; }
.accent-custom .tp-search-close { display: block; }

.accent-custom .replies_div { width: 100%; display: flex; flex-flow: row wrap; max-height: 800px; overflow-y: auto;  }

.accent-custom .commufilteroptns { width: 150px; background-color: var(--white); position: absolute; top:36px; left: 0; right: auto; z-index: 5; border: 1px solid var(--grey2); padding: 15px; max-height: 150px; overflow-y: auto;  padding: 10px; }


.accent-custom .tp-product-details-stock span { color: var(--orange); background-color: var(--lightorange1); }
.accent-custom .tp-product-details-action-sm-btn:hover { color: var(--green); }
.accent-custom .tp-product-details-review-remeber input:checked ~ label::after { background-color: var(--green); border-color: var(--green); }
.accent-custom .tp-product-details-review-remeber label::after { top:6px; }
.accent-custom .tp-product-details-quantity .tp-cart-plus:hover, .accent-custom .tp-product-details-quantity .tp-cart-minus:hover { background-color: var(--tp-common-white); color: var(--black); }

.accent-custom .tp-product-details-thumb-wrapper .tab-content { width: 100%; display: flex; justify-content: center; }
.accent-custom .tp-product-details-thumb-wrapper .nav-tabs .nav-link { width: 74px; }
.accent-custom .tp-product-details-thumb-wrapper { position: relative; top: 0; }

.accent-custom .tp-product-details-tab-nav .nav-tabs .nav-link:not(:first-child) { margin-left: 0; }
.accent-custom .tp-product-modal-content { padding: 10px; }
.accent-custom .tp-product-details-tab-nav .nav-tabs .nav-link { font-size: var(--f_sz18); padding: 0 15px; }

.accent-custom .latest_trends_wrapper { display: flex; flex-flow: row wrap; align-items: flex-start;  }
.accent-custom .latest_trends_wrapper .tp-product-thumb { background-color: var(--lightgrey3); border-bottom:0; margin: 10px 10px; padding: 10px 10px; border-radius: 0; text-align: center; }
.accent-custom .latest_trends_wrapper .tp-product-thumb img { width: auto; max-width: 100%; max-height: 100px; }
.accent-custom .latest_trends_wrapper .tp-product-thumb img.lrge { width: auto; max-width: 100%; max-height:none; }
.accent-custom .tp-feature-icon span { color: var(--orange); }

.accent-custom .tp-product-details-review-form-rating-icon span { font-size: var(--f_sz24); margin: 10px; }
.accent-custom .tp-product-details-review-form-rating-icon span.f_yellow,
.accent-custom .tp-product-details-review-avater-rating span.f_yellow,
.accent-custom .tp-product-rating-icon span.f_yellow
{ color: var(--yellow);}

.accent-custom .tp-product-details-review-form-rating-icon span.f_grey7,
.accent-custom .tp-product-details-review-avater-rating span.f_grey7,
.accent-custom .tp-product-rating-icon span.f_grey7
{ color: var(--grey7); }

.accent-custom .tp-product-details-review-form-rating { border: 1px solid var(--grey11); padding: 15px 23px 25px 25px; }

.accent-custom .tp-product-sm-wrapper .tp-product-thumb { width: 140px; height: 140px; background-color: var(--lightgrey3); border-bottom:0; display: flex; align-items: center; justify-content: center;  }
.accent-custom .tp-product-sm-wrapper .tp-product-thumb img { width: 100px; object-fit: cover; }
.accent-custom .tp-product-price { color: var(--orange); }
.accent-custom .tp-product-arrival-slider .swiper { width: 100%;  }
/* .accent-custom .tp-product-arrival-slider .tp-product-item { width: 300px; }
.accent-custom .tp-product-arrival-slider .tp-product-thumb { width: 300px; height: 260px; } */
.accent-custom .tp-product-arrival-slider .tp-product-thumb img { max-width: 100%; width: auto; }
.accent-custom .tp-swiper-arrow button { display: inline-flex; align-items: center; justify-content: center; }
.accent-custom .tp-swiper-arrow button:hover { background-color: var(--grey7); color: var(--white); }

.accent-custom .tp-section-title-sm { font-size: var(--f_sz28); }
.accent-custom .cart_list_item { width: 100%; display: flex; flex-flow:row wrap; border-bottom: 1px solid var(--grey5); }

.accent-custom .tp-cart-img { width: auto; margin-right: 0; text-align: center; margin-bottom: 10px; }
.accent-custom .tp-cart-img img { width: auto; height: auto; max-width: 100%; }

.accent-custom .tp-cart-list .table > :not(caption) > * > *  { vertical-align: top; }

.accent-custom .tp-return-customer { padding: 20px;  background-color: var(--grey4); }
.accent-custom .tp-checkout-bill-area { padding: 0px; }

.accent-custom .tp-checkout-place { padding: 0px; }

.accent-custom .address_shipping { padding-bottom: 26px; margin-bottom: 24px; border-bottom: 1px solid var(--grey11); } 

.accent-custom .tp-order-info-list ul li.tp-order-info-list-subtotal span:last-child { color: var(--orange); }

.accent-custom .tp-checkout-btn { background-color: var(--green); color: var(--white); }
.accent-custom .tp-order-info-list ul li.tp-order-info-list-shipping span label span {  color: var(--green);}
.accent-custom .tp-order-info-list ul li.tp-order-info-list-shipping span label::before { background-color: var(--green); } 

.accent-custom .order_dtls { width: 220px; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border: 1px solid var(--grey11); padding: 5px 8px; text-align: center; margin: 5px; }


/*********order tracking**********/
.accent-custom .track {
	position: relative;
	background-color:var(--grey11);
	height: 7px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
	margin-top: 50px
}

.accent-custom .track .step {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 25%;
	margin-top: -18px;
	text-align: center;
	position: relative
}

.accent-custom .track .step.active:before {
	background:var(--green);
}

.accent-custom .track .step::before {
	height: 7px;
	position: absolute;
	content: "";
	width: 100%;
	left: 0;
	top: 18px
}

.accent-custom .track .step.active .icon {
	background:var(--green);
	color: var(--white);
}

.accent-custom .track .icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	position: relative;
	border-radius: 100%;
	background: var(--grey11);
}

.accent-custom .track .step.active .text {
	font-weight: 400;
	color: var(--black);
}

.accent-custom .track .text {
	display: block;
	margin-top: 7px;
    line-height: 20px;
}

/*********order tracking**********/

.accent-custom .tp-product-badge i { font-size: var(--f_sz22); }

.accent-custom .tp-shop-top-select { width: 250px; }

.accent-custom .top_products_filtertype { margin: 10px 5px; position: relative; }
.accent-custom .top_products_filtertype .tp-shop-widget-categories, .accent-custom .top_products_filtertype .tp-shop-widget-brand-list { height: auto; overflow: auto;  }
.accent-custom .tp_categories .tp-shop-widget-checkbox .tp-shop-widget-brand-item { width: 100%; flex: 0 0 100%; margin-bottom: 0; }
.accent-custom .cat_drpdwn { position: absolute; right: 5px; }
.accent-custom .tp-shop-widget-categories ul li a::after { display: none; }
.accent-custom .tp-shop-widget-categories ul li a { padding-left: 0; color: var(--black); }
.accent-custom .tp_filter_categories .filter-item { border-bottom: 1px solid var(--grey2); padding: 10px 5px;  margin-bottom: 0px; font-size: var(--f_sz15); }
.accent-custom .tp_filter_categories .filter-item:last-child { border-bottom: 0px; }
.accent-custom .tp-filter-offcanvas-wrapper { padding: 30px 30px 35px; }
.accent-custom .tp-filter-offcanvas-close { position: absolute; top: 28px; right: 30px; }
.accent-custom .filter_title_wrapper { width: 100%; display: flex; flex-flow: row wrap; border-bottom: 1px solid var(--grey); }
.accent-custom .tp-filter-btn { background-color: var(--green); border: 1px solid var(--green); }
.accent-custom .tp-logout-btn { background-color: var(--green); border: 1px solid var(--green); color: var(--white); }
.accent-custom .tp-logout-btn:hover { background-color: var(--green); border-color: var(--green); color: var(--white); }




@media only screen and (min-width: 1200px) and (max-width: 1359px) { 
.accent-custom .header_search_wdth { width: 38.666667%; }
.accent-custom .header_rgticons_wdth { width: 28%; }
}



@media screen and (max-width: 767px) {

.accent-custom .tp-login-wrapper { padding: 30px 30px; } 

.accent-custom .tp-product_advertisers-thumb { width: 100%;}
.accent-custom .tp-banner-title { font-size:var(--f_sz32); font-weight: 800; }
.accent-custom .tp_products_list .tp-product-list-item .tp-product-list-thumb1 { width: 100%; }

.accent-custom .communitydtls_iconwrapper { justify-content: center; }

.accent-custom .breadcrumb__title { font-size: var(--f_sz40); }
.accent-custom .commufilteroptns { left: auto; right: 0; }

.accent-custom .header_left_wrapper { justify-content: center; margin-bottom: 20px; }
.accent-custom .tp-header-main{ border-bottom: 1px solid var(--tp-border-primary); }
.accent-custom .tp-product-details-tab-nav .nav-tabs .nav-link { margin-bottom: 15px; }

}

